html,
body,
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f3919e;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}
